/*****************************************
	Global Styles
*****************************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

/*****************************************
	Header Styles
*****************************************/

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #000;
	text-shadow: 2px 2px 20px #fff;
	background-image: url('../img/floral-background.svg');
	background-size: cover;
	border-bottom: 7px double gray;
	box-shadow: 3px 3px 20px -2px #000;
}

header img {
	width: 120px;
	height: 100%;
	margin: 5px 10px 5px 30px;
	padding: 10px;
	background-color: white;
	border: 2px solid gray;
	border-radius: 50%;
}

.header-content .name {
	font-family: 'Caveat', cursive;
	font-size: 60px;
	font-weight: 400;
	padding: 5px 20px 0 10px;
}

.header-content .description {
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	padding: 10px 20px 10px 10px;
}


/*******************************************
	Main content: Inspirational Quote Styles
*******************************************/

.inspirational-quote {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	font-family: 'Caveat', cursive;
	background-color: #ffffff;
	background-image: url('../img/quote-background.svg');
}
.quote-of-the-day {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.quote {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}

.quote-author {
	font-size: 25px;
}

/*****************************************
	Main Content: Featured projects Styles
*****************************************/

.featured-projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.featured-projects .title {
	width: 50%;
	margin-top: 20px;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 5px double gray;
}

.projects-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

.project {
	width: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding: 20px;
	border: 3px solid #808080;
	border-radius: 15px;
	box-shadow: 0px 10px 54px -19px rgba(0,0,0,0.75);
}

.project:hover {
	box-shadow: 3px 3px 20px -2px #000;
}

.project img {
	width: 250px;
	margin: 6px 0 3px 0;
}

.project a {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border-top: 2px solid gray;
	text-align: center;
}

/*****************************************
	Footer Styles
*****************************************/
footer {
	height: 70px;
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;
	align-items: center;
	font-weight: 700;
	box-shadow: 3px 3px 20px -2px #000;
	background-image: url('../img/floral-background.svg');
	background-size: cover;
	background-position: 0 270px;
}

.copyright {
	padding: 7px;
	margin: 5px;
	background-color: #fff;
	border-radius: 15px;
}

.contact-info {
	width: 200px;
	display: flex;
	flex-direction: row;
}

.contact-info li a {
	margin: 0 10px;
}

.contact-info li a img {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
}

/*****************************************
	Media Queries
*****************************************/
@media screen and (max-width: 450px){
	header {
		text-shadow: 2px 2px 20px #fff;
		/* Move the background-image to the left for better readability */
		background-position: -90px 0;
		background-size: auto;
	}
	.header-content .name {
		font-size: 50px;
	}
	header img {
		width: 80px;
		margin: 23px 0 0 10px;
	}
	.featured-projects .title {
		width: 90%;
		font-size: 25px;
	}
}
@media screen and (max-width: 385px) {
	header {
		text-shadow: 2px 2px 20px #fff;
		/* Move the background-image to the left for better readability */
		background-position: -90px 0;
		background-size: auto;
	}
	.header-content .name {
		font-size: 40px;
	}
	.header-content .description {
		font-size: 20px;
	}
	header img {
		width: 80px;
		margin: 15px 0 0 10px;
	}
	.featured-projects .title {
		width: 90%;
		font-size: 20px;
	}
}